@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&family=Rajdhani:wght@700&family=Source+Code+Pro:wght@200&display=swap');

* {
font-family: 'Rajdhani', sans-serif;  
 margin: 0;
 padding: 0;
 box-sizing: border-box;


}
.h1{
    text-align: center;
    margin-top: 10px;
    font-size: 100px;
    
}

.pregunta{
    
    background-color: rgb(255, 255, 255);
  
    font-family: 'Rajdhani', sans-serif;
    color: black;
    border-radius: 10px;
}

.forms{
    display: flex;
    margin-top: 10px;
    background-color: #ffffff;
    justify-content: space-around;
    box-shadow:0 0 6px 0 rgba(255, 255, 255, 0.8) ;
    border-radius: 30px;
}
body{
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

    padding: 0 10 px;
}
.wrapper{
    display: block;
    max-width: 500px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    padding:30 px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    border-radius: 30px;

}
 .button{
    font-size: 20px;
    width: 40%;
    background: #EDE574;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border:none;
    margin-left:30% ;
    margin-right:30% ;
    padding: 10px;
    justify-content:center;
    border-radius: 10px;
    margin-bottom: 7px;
}
