
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&family=Rajdhani:wght@700&family=Source+Code+Pro:wght@200&display=swap');

* {
    font-family: 'Rajdhani', sans-serif;  
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color:black;
    
    
    }



.h1{
    text-align: center;
    margin-top: 10px;
    font-size: 200px;
    
}

.par{
  
    justify-content: space-around;
    font-size: 20px;
    
    
}

body{
background-color: #e4e7a1;
opacity: 0.8;
background-image:  linear-gradient(#2e943f 1px, transparent 1px), linear-gradient(to right, #2e943f 1px, #e4e7a1 1px);
background-size: 20px 20px;
padding: 0 10 px;

 
}
.jerbo{
    float:left;
    margin: 0 15px 0 0;

}

.wrapper {
    display: block;
    max-width: 500px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    padding:30 px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    border-radius: 30px;

}

button{
    font-size: 200px;
    width: 40%;
    background: #EDE574;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E1F5C4, #EDE574); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border:none;
    margin-left:30% ;
    margin-right:30% ;
    padding: 10px;
    justify-content:center;
    border-radius: 10px;
    margin-bottom: 7px;
}